import os
from pathlib import Path
import sys
import types

PINLINED_DEFAULT_PACKAGE = '%{DEFAULT_PACKAGE}'
PINLINER_MODULE_NAME = 'pinliner_loader'
CONFIG_VERBOSE = %{CONFIG_VERBOSE}
CONFIG_PAYLOAD_ENCODING = %{CONFIG_PAYLOAD_ENCODING}
loader_version = '0.2.1'

FORCE_EXC_HOOK = %{FORCE_EXC_HOOK}

inliner_importer_code = '''
import importlib
import importlib.machinery
#import pdb
import marshal
import os
import struct
import sys
import types
import re
import atexit  # I don't line unnecessary modules but chatgpt keeps telling me using this is better than __del__()

# for encoding/decoding of payload
std_import_error = None
try:
    import base64
    import zlib
except ImportError as e:
    std_import_error = e # to make it optional



class InlinerImporter(object):
    version = '%(loader_version)s'
    def __init__(self, data, datafile, set_excepthook=True, verbose=False, config_payload_encoding=None):
        self.data = data
        self.datafile = datafile
        if set_excepthook:
            sys.excepthook = self.excepthook
        self.config_payload_encoding = config_payload_encoding
        self.__verbose = verbose
        if self.__verbose:
            print('InlinerImporter.__init__: InlinerImporter instance is being created')
        self.temp_files = []
        atexit.register(self.cleanup) # instead of __del__ - this better as of order of when objects are relased (I don't know why, suggested by chatgpt, sorry)

    # def __del__(self): # strange, __del__ is not needed, and no need to call it on super class, as it's "object"; but we still need to delete .pyc files, so I'll add a cleanup routine instead
    #     for fname_remove in self.temp_files:
    #         if os.path.isfile(fname_remove):
    #             os.remove(fname_remove)
    #     return super().__del__(self)

    def cleanup(self):
        for fname_remove in getattr(self, 'temp_files', []):
            try:
                if os.path.isfile(fname_remove):
                    os.remove(fname_remove)
            except Exception:
                pass

    @staticmethod
    def excepthook(type, value, traceback):
        import traceback as tb
        tb.print_exception(type, value, traceback)

    class UnsupportedEncodingError(ValueError): # chatgpt insists it should be derived from Value Error, but I think using NotImplementedError is reasonable... Anyway, I should account for future users and maintainers, and I'll use more conventional, proposed by chatgpt, ValueError
        """Requested encoding is not implemented by pinliner."""
    # @staticmethod
    # def encode_payload(code,payload_encoding):
    #   if not payload_encoding:
    #       payload_encoding = 'repr'
    #   # choices = ['repr','default_quotes_escape','skip','base64','base85','zlibbase64','zlibbase85'],
    #   if payload_encoding=='skip':
    #       triquo_start = "r'"+"''\\n"
    #       triquo_end = "\\n'"+"''"
    #       return triquo_start + code + triquo_end
    #   elif payload_encoding=='repr':
    #       return f'{code!r}'
    #   elif payload_encoding=='default_quotes_escape':
    #       triquo_start = "'"+"''\\n"
    #       triquo_end = "\\n'"+"''"
    #       return triquo_start + re.sub(r'(\\'{3})',lambda m: f'\\\\\\'\\\\\\'\\\\\\'', code) + triquo_end
    #   elif payload_encoding=='base64':
    #       if not base64 and std_import_error:
    #           raise std_import_error
    #       return '"'+base64.b64encode(code.encode("utf-8")).decode("ascii")+'"'
    #   elif payload_encoding=='zlibbase64':
    #       if (not base64 or not zlib) and std_import_error:
    #           raise std_import_error
    #       code_raw = code.encode("utf-8")
    #       code_compressed = zlib.compress(code_raw, level=9)
    #       return '"'+base64.b64encode(code_compressed).decode("ascii")+'"'
    #   elif payload_encoding=='base85':
    #       if not base64 and std_import_error:
    #           raise std_import_error
    #       return '"'+base64.b85encode(code.encode("utf-8")).decode("ascii")+'"'
    #   elif payload_encoding=='zlibbase85':
    #       if (not base64 or not zlib) and std_import_error:
    #           raise std_import_error
    #       code_raw = code.encode("utf-8")
    #       code_compressed = zlib.compress(code_raw, level=9)
    #       return '"'+base64.b85encode(code_compressed).decode("ascii")+'"'
    #   else:
    #       err = self.__class__.UnsupportedEncodingError('pinliner: encoding payload with method == "{m}": not implemented'.format(m=payload_encoding))
    #       print(err,file=sys.stderr)
    #       raise err

    @staticmethod
    def decode_payload(code,payload_encoding):
        if not payload_encoding:
            payload_encoding = 'repr'
        # choices = ['repr','default_quotes_escape','skip','base64','base85','zlibbase64','zlibbase85'],
        if payload_encoding=='skip':
            triquo_start = "r'"+"''\\n"
            triquo_end = "\\n'"+"''"
            assert code.startswith(triquo_start) and code.endswith(triquo_end), 'pinliner: encoding with "skip" - sring must be wrapped with triple quotes'
            return code[len(triquo_start):-len(triquo_end)]
        elif payload_encoding=='repr':
            return eval(code)
        elif payload_encoding=='default_quotes_escape':
            triquo_start = "'"+"''\\\\n"
            triquo_end = "\\\\n'"+"''"
            assert code.startswith(triquo_start) and code.endswith(triquo_end), 'pinliner: encoding with "skip" - sring must be wrapped with triple quotes'
            code = code[len(triquo_start):-len(triquo_end)]
            code = re.sub(r'\\\\\\'\\\\\\'\\\\\\'',lambda m: "'"+"''", code)
            return code
        elif payload_encoding=='base64':
            if not base64 and std_import_error:
                raise std_import_error
            return base64.b64decode(code[1:-1].encode("ascii")).decode("utf-8")
        elif payload_encoding=='zlibbase64':
            if (not base64 or not zlib) and std_import_error:
                raise std_import_error
            code_compressed = base64.b64decode(code[1:-1].encode("ascii"))
            code_raw = zlib.decompress(code_compressed)
            return code_raw.decode("utf-8")
        elif payload_encoding=='base85':
            if not base64 and std_import_error:
                raise std_import_error
            return base64.b85decode(code[1:-1].encode("ascii")).decode("utf-8")
        elif payload_encoding=='zlibbase85':
            if (not base64 or not zlib) and std_import_error:
                raise std_import_error
            code_compressed = base64.b85decode(code[1:-1].encode("ascii"))
            code_raw = zlib.decompress(code_compressed)
            return code_raw.decode("utf-8")
        else:
            err = self.__class__.UnsupportedEncodingError('pinliner: encoding payload with method == "{m}": not implemented'.format(m=payload_encoding))
            print(err,file=sys.stderr)
            raise err

    def find_spec(self,fullname,path,target=None):
        spec = None
        if self.__verbose:
            print('InlinerImporter.find_spec: find_spec called, fullname = '+str(fullname)+', path = "'+str(path)+'", target = "'+str(target)+'", __name__ = "'+str(__name__)+'", found = '+str('True' if fullname in self.data else 'False')+'')
        if fullname in self.data:
            spec = importlib.machinery.ModuleSpec(fullname,self)
        return spec

    def find_module(self, fullname, path):
        if self.__verbose:
            print('InlinerImporter.find_module: find_module called, fullname = '+str(fullname)+', found = '+str('True' if fullname in self.data else 'False')+'')
        module = fullname in self.data
        if module:
            return self

    def get_source(self, fullname):
        __, start, end, ts = self.data[fullname]
        if self.__verbose:
            print('InlinerImporter.get_source: loading source file contents for file '+str(fullname)+' from position '+str(start)+' to position '+str(end)+'')
        with open(self.datafile, encoding='utf-8') as datafile:
            datafile.seek(start)
            code = datafile.read(end - start)
            if self.__verbose:
                print('getting code from [{start}] to [{end}]...'.format(start=start,end=end))
            if self.__verbose:
                print('unescaping... pattern {f}'.format(f='found' if r"\''"+"'" in code else 'not found'))
            #if self.__verbose: # TODO: suppress
            #    print('for debugging: repr(code) (before update) == {f}'.format(f=repr(code)))
            # unescape quotes back
            # code = code.replace(r"\\''"+"'", "''"+"'")
            code = self.decode_payload(code,self.config_payload_encoding)
            if self.__verbose:
                print('double checking after replacement... pattern {f}'.format(f='found' if r"\''"+"'" in code else 'not found'))
            #if self.__verbose: # TODO: suppress
            #    print('for debugging: repr(code) (after the update) == {f}'.format(f=repr(code)))
            if self.__verbose:
                print('returning unescaped...')
            return code

    def get_code(self, fullname, filename):
        py_ts = self.data[fullname][3]
        try:
            fname = fullname + '.pyc'
            fname = Path(fname)
            fname = '{f}'.format(f=fname.resolve())
            with open(fname, 'rb') as pyc:
                pyc_magic = pyc.read(4)
                pyc_ts = struct.unpack('<I', pyc.read(4))[0]
                if pyc_magic == importlib.get_magic() and pyc_ts == py_ts:
                    if self.__verbose:
                        print('found .pyc compiled cached code...')
                    return marshal.load(pyc)
        except:
            if self.__verbose:
                print('did not find .pyc compiled cached code...')
            pass

        code = self.get_source(fullname)

        if self.__verbose:
            print('InlinerImporter.get_code: saving code for testing purposes, as {f}'.format(f=fullname + '.sample.py'))
            with open(fullname + '.sample.py', 'w', encoding='utf-8') as f:
                f.write(code)
                f.close()
        if self.__verbose:
            print('InlinerImporter.get_code: getting compiled code for package: ' + fullname)

        compiled_code = compile(code, filename, 'exec')

        try:
            fname = fullname + '.pyc'
            fname = Path(fname)
            fname = '{f}'.format(f=fname.resolve())
            self.temp_files.append(fname)
            with open(fname, 'wb') as pyc:
                pyc.write(importlib.get_magic())
                pyc.write(struct.pack('<I', py_ts))
                marshal.dump(compiled_code, pyc)
        except:
            pass
        return compiled_code

    def load_module(self, fullname):
        # If the module it's already in there we'll reload but won't remove the
        # entry if we fail
        exists = fullname in sys.modules

        module = types.ModuleType(fullname)
        module.__loader__ = self

        is_package = self.data[fullname][0]
        path = fullname.replace('.', os.path.sep)
        if is_package:
            module.__package__ = fullname
            module.__file__ = os.path.join(path, '__init__.py')
            module.__path__ = [path]
        else:
            module.__package__ = fullname.rsplit('.', 1)[0]
            module.__file__ = path + '.py'

        sys.modules[fullname] = module

        try:
            compiled_code = self.get_code(fullname, module.__file__)
            exec(compiled_code, module.__dict__)
        except:
            if not exists:
                del sys.modules[fullname]
            raise

        return module
''' % {'loader_version': loader_version}

${CONTENTS}

import importlib
import importlib.machinery
#import pdb
import sys

def prepare_package():
    # Loader's module name changes with each major version to be able to have
    # different loaders working at the same time.

    CONFIG_VERBOSE = %{CONFIG_VERBOSE}
    CONFIG_PAYLOAD_ENCODING = %{CONFIG_PAYLOAD_ENCODING}

    if CONFIG_VERBOSE:
        print('INLINER IMPORTER TEMPLATE CODE: prepare_package: within prepare_package()')

    module_name = PINLINER_MODULE_NAME + '_' + loader_version.split('.')[0]

    # If the loader code is not already loaded we create a specific module for
    # it.  We need to do it this way so that the functions in there are not
    # compiled with a reference to this module's global dictionary in
    # __globals__.
    module = sys.modules.get(module_name)
    if not module:
        module = types.ModuleType(module_name)
        module.__package__ = ''
        module.__file__ = module_name + '.py'
        exec(inliner_importer_code, module.__dict__)
        sys.modules[module_name] = module

    # We cannot use __file__ directly because on the second run __file__ will
    # be the compiled file (.pyc) and that's not the file we want to read.
    filename = os.path.splitext(__file__)[0] + '.py'
    if CONFIG_VERBOSE:
        print('INLINER IMPORTER TEMPLATE CODE: prepare_package: module name is {n}'.format(n=module_name))
    if CONFIG_VERBOSE:
        print('INLINER IMPORTER TEMPLATE CODE: prepare_package: file name is {n}'.format(n=filename))

    # Add our own finder and loader for this specific package if it's not
    # already there.
    # This must be done before we initialize the package, as it may import
    # packages and modules contained in the package itself.
    if CONFIG_VERBOSE:
        print('INLINER IMPORTER TEMPLATE CODE: prepare_package: creating an instance of importer...')
    importer = None
    for finder in sys.meta_path:
        if (isinstance(finder, module.InlinerImporter) and
                finder.data == inliner_packages):
            if CONFIG_VERBOSE:
                print('INLINER IMPORTER TEMPLATE CODE: prepare_package: it\'s found, setting it to finder')
            importer = finder
    # else: # strange, for some reason "else" is not working as expected - both "importer = finder" and "importer = module.InlinerImporter(...)" are called
    if not importer:
        # If we haven't forced the setting of the uncaught exception handler
        # we replace it only if it hasn't been replace yet, this is because
        # CPython default handler does not use traceback or even linecache, so
        # it never calls get_source method to get the code, but for example
        # iPython does, so we don't need to replace the handler.
        if FORCE_EXC_HOOK is None:
            set_excepthook = sys.__excepthook__ == sys.excepthook
        else:
            set_excepthook = FORCE_EXC_HOOK

        if CONFIG_VERBOSE:
            print('INLINER IMPORTER TEMPLATE CODE: prepare_package: not found, creating class object...')
        importer = module.InlinerImporter(inliner_packages, filename,
                                          set_excepthook, verbose=CONFIG_VERBOSE, config_payload_encoding=CONFIG_PAYLOAD_ENCODING)
        sys.meta_path.append(importer)

    # If this is a bundle (multiple packages) without default then don't import
    # any package automatically.
    if not PINLINED_DEFAULT_PACKAGE:
        return

    if CONFIG_VERBOSE:
        print('INLINER IMPORTER TEMPLATE CODE: prepare_package: PINLINED_DEFAULT_PACKAGE is "{PINLINED_DEFAULT_PACKAGE}"...'.format(PINLINED_DEFAULT_PACKAGE=PINLINED_DEFAULT_PACKAGE))
    __, start, end, ts = inliner_packages[PINLINED_DEFAULT_PACKAGE]
    if CONFIG_VERBOSE:
        print('INLINER IMPORTER TEMPLATE CODE: prepare_package: loading code for "{fname}"...'.format(fname=filename))
    with open(filename, encoding='utf-8') as datafile:
        datafile.seek(start)
        code = datafile.read(end - start)
        if CONFIG_VERBOSE:
            print('getting code from [{start}] to [{end}]...'.format(start=start,end=end))
        if CONFIG_VERBOSE:
            print('unescaping...')
        # unescape quotes back
        code = module.InlinerImporter.decode_payload(code,CONFIG_PAYLOAD_ENCODING)

    # no longer needed, we delete .pyc files in __del__ method of Importer class
    ## delete .pyc files before first loaded package
    ## if we don't do so
    ## we are getting an error "ImportError: invalid flags 1730942170 in 'src'"
    #path = '.'
    #if CONFIG_VERBOSE:
    #    print('INLINER IMPORTER TEMPLATE CODE: prepare_package: removing .pyc files in "{path}"...'.format(path=path))
    #for fname_remove in os.listdir(os.path.join(path, '.')):
    #    if os.path.isfile(os.path.join(path, fname_remove)) and (os.path.splitext(fname_remove)[-1].lower()=='.pyc'):
    #        os.remove(os.path.join(path, fname_remove))

    # We need everything to be local variables before we clear the global dict
    def_package = PINLINED_DEFAULT_PACKAGE
    name = __name__
    filename = def_package + '/__init__.py'
    if CONFIG_VERBOSE:
        print('INLINER IMPORTER TEMPLATE CODE: prepare_package: loading code...')
    if CONFIG_VERBOSE:
        print('INLINER IMPORTER TEMPLATE CODE: prepare_package: package name is {p}'.format(p=def_package))
    compiled_code = compile(code, filename, 'exec')
    if CONFIG_VERBOSE:
        print('compiling...')

    spec = importlib.machinery.ModuleSpec(def_package,importer)

    if CONFIG_VERBOSE:
        print('INLINER IMPORTER TEMPLATE CODE: prepare_package: setting globals...')
    # Prepare globals to execute __init__ code
    globals().clear()
    # If we've been called directly we cannot set __path__
    if name != '__main__':
        globals()['__path__'] = [def_package]
    else:
        def_package = None
    globals().update(__file__=filename,
                     __package__=def_package,
                     __name__=name,
                     __loader__=importer,
                     __spec__=spec)

    if CONFIG_VERBOSE:
        print('INLINER IMPORTER TEMPLATE CODE: prepare_package: executing module code...')
    exec(compiled_code, globals())
    if CONFIG_VERBOSE:
        print('INLINER IMPORTER TEMPLATE CODE: prepare_package: end of prepare_package()')


# Prepare loader's module and populate this namespace only with package's
# __init__
prepare_package()
